
@{
    ViewBag.Title = "Index";
}

@*<div class="header">
	<h2>Biography</h2>
</div>

<div class="row">

	<div class="col-3 tx">
		<ul>
			<li><label id=Name> Daniel Tune</label></li>
			<li><label id=Phone> (206)267-8890</label></li>
			<li><label id=email> Daniel@gmail.com</label></li>
		</ul>
	</div>

	<div class="col-6">
		<h3>Bio:</h3>
		<p> Full Time student at RTC, Full Time Self employee as transportation provider.
			I like social activity play, and enjoy playing around kids.</p>
	</div>

	<div class="col-3 right">
		<div class="aside">
			<h4>This Biography is for who?</h4>
			
			<img src="~/Images/me.jpg" width="460" height="345" />
		</div>
	</div>

</div>*@
<div class="container-fluid">
	<h1>Hello World!</h1>
	<div class="row">
		<div class="col-sm-12">
			<img src="~/Images/me.jpg" width="250" height="345"/>
			<ul>
				<li><label id=Name> Daniel Tune</label></li>
				<li><label id=Phone> (206)267-8890</label></li>
				<li><label id=email> Daniel@gmail.com</label></li>
			</ul>
			<h3>Bio:</h3>
			<p>
				Full Time student at RTC, Full Time Self employee as transportation provider.
				I like social activity play, and enjoy playing around kids.
			</p>
			<ul class="list-group-item-heading">
				<p>My top 5 favorite Movies :</p>
				<li class="list-group-item">Life Is Beautiful (1997) </li>
				<li class="list-group-item"> The Great Dictator (1940) </li>
				<li class="list-group-item">The Lion King (1994) </li>
				<li class="list-group-item"> Fight Club (1999) </li>
				<li class="list-group-item"> The Dark Knight Rises (2012)</li>
			</ul>
			<ul class="list-group-item-heading">
				<p>My top 5 favorite Books :</p>
				<li class="list-group-item">CSharp</li>
				<li class="list-group-item"> Android</li>
				<li class="list-group-item"> Database</li>
				<li class="list-group-item"> Maths </li>
				<li class="list-group-item"> Biology </li>
			</ul>
		</div>
	
		<div class="col-sm-4">
			<img src="~/Images/me.jpg" />
			<ul>
				<li><label id=Name> Daniel Tune</label></li>
				<li><label id=Phone> (206)267-8890</label></li>
				<li><label id=email> Daniel@gmail.com</label></li>
			</ul>
		</div>
		<div class="col-sm-8">

			<h3>Bio:</h3>
			<p>
				Full Time student at RTC, Full Time Self employee as transportation provider.
				I like social activity play, and enjoy playing around kids.
			</p>
			<div class="sub-row">
				<div class="col-sm-6">
					<header>
						<h4>
							Movies
						</h4>
					</header>
					<ul class="list-group-item-heading" >
						<li class="list-group-item">Life Is Beautiful (1997) </li>
						<li class="list-group-item"> The Great Dictator (1940) </li>
						<li class="list-group-item">The Lion King (1994) </li>
						<li class="list-group-item"> Fight Club (1999) </li>
						<li class="list-group-item"> The Dark Knight Rises (2012)</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<header>
						<h4>
							Books
						</h4>
					</header>
					<ul class="list-group-item-heading" >
						<li class="list-group-item">CSharp</li>
						<li class="list-group-item"> Android</li>
						<li class="list-group-item"> Database</li>
						<li class="list-group-item"> Maths </li>
						<li class="list-group-item"> Biology </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row2">
			<div class="col-sm-3">
				<img src="~/Images/me.jpg" />
				<ul>
					<li><label id=Name> Daniel Tune</label></li>
					<li><label id=Phone> (206)267-8890</label></li>
					<li><label id=email> Daniel@gmail.com</label></li>
				</ul>
			</div>
			<div class="col-sm-9">
				<h3>Bio:</h3>
				<p>
					Full Time student at RTC, Full Time Self employee as transportation provider.
					I like social activity play, and enjoy playing around kids.
				</p>
				<div class="sub-row">
					<div class="col-sm-2">
						<h4>
							Movies
						</h4>
					</div>
					<div class="col-sm-2">
						<ul>
							<li>
								<label id=Name>
									<img src="~/Images/fightClub.jpg" />
								</label>
							</li>
							<li><label id=Phone>Movie poster title #1</label></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<ul>
							<li>
								<label id=Name>
									<img src="~/Images/I_Spy.jpg" />
								</label>
							</li>
							<li><label id=Phone>Movie poster title #2</label></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<ul>
							<li>
								<label id=Name>
									<img src="~/Images/Movie-Posters-twilight.jpg" />
								</label>
							</li>
							<li><label id=Phone>Movie poster title #3</label></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<ul>
							<li>
								<label id=Name>
									<img src="~/Images/movie_posters_Sweet_November.jpg" />
								</label>
							</li>
							<li><label id=Phone>Movie poster title #4</label></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<ul>
							<li>
								<label id=Name>
									<img src="~/Images/Scream_movie_poster.jpg" />
								</label>
							</li>
							<li><label id=Phone>Movie poster title #5</label></li>
						</ul>

					</div>
				</div>
				<div class="sub-row1">
					<div class="col-sm-2">
						<header>
							<h4> Books</h4>
						</header>
					</div>
					<div class="col-sm-2">
						<ul>
							<li>
								<label id=Name>
									<img src="~/Images/thinkpython.jpg" />
								</label>
							</li>
							<li><label id=Phone> Think Python</label></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<ul>
							<li>
								<label id=Name>
									<img src="~/Images/Java.jpg" />
								</label>
							</li>
							<li><label id=Phone> Introduction to Java Programming</label></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<ul>
							<li>
								<label id=Name>
									<img src="~/Images/introcomscince.jpg" />
								</label>
							</li>
							<li><label id=Phone>Introduction to computer science</label></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<ul>
							<li>
								<label id=Name>
									<img src="~/Images/ency_computerScie.jpg" />
								</label>
							</li>
							<li><label id=Phone> Encyclopedia of computer science</label></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<ul>
							<li>
								<label id=Name>
									<img src="~/Images/computernetworks.jpg" />
								</label>
							</li>
							<li><label id=Phone>Computer Networks</label></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>